<h4>Application Form</h4>
<form action="/job/{{job.id}}/apply" method="post">
<div class="mb-2">
<label>Full Name</label><br>
<input class="form-control-sm" type="text" name="full_name" size="40" placeholder="Bruce Wayne">
</div>


<div class="mb-2">
<label>Email</label><br>
<input class="form-control-sm" type="text" name="email" size="40" placeholder="Bruce@Wayne.com">
</div>

<div class="mb-2">
<label>LinkedIn URL</label><br>
<input class="form-control-sm" type="text" name="linkedin_url" size="40" placeholder="https://linked.com/in/brucewayne">
</div>


<div class="mb-2">
<label>Education</label><br>
<textarea class="form-control-sm" cols="43" name="education"></textarea>
</div>


<div class="mb-2">
<label>Work Experience</label><br>
<textarea class="form-control-sm" cols="43" name="work_experience"></textarea>
</div>


<div class="mb-2">
<label>Resume URL</label><br>
<input class="form-control-sm" type="text" size="40" name="resume_url">
</div>


<button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>

