<!DOCTYPE html>
<html lang="en">
<head>
    {% include "bootstrap.html" %}

</head>
    <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
    <h1 class="text-center mt-2 mb-4">Jovian Careers</h1>
    <h2 class="text-center mt-2 mb-4">About Jovian</h2>
    <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sagittis nisi. Donec et quam sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a felis a arcu condimentum rutrum. Donec at iaculis sem. Fusce quis nibh quis eros sagittis porta sed quis purus. Aliquam ac rhoncus risus. Duis nunc nibh, mattis in diam a, ornare porta orci. Nulla iaculis venenatis purus porta ullamcorper. Donec ornare, urna at posuere faucibus, neque nisl tempus turpis, nec efficitur neque dolor vitae nibh. Duis pellentesque nunc sed sapien elementum finibus. Mauris sodales pellentesque blandit.
Donec a massa placerat, lacinia ligula vitae, elementum sapien. Nam et laoreet sapien, sed finibus erat. Sed tempor volutpat elit eget pulvinar. In elit ante, cursus at pharetra vel, pretium efficitur arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget tincidunt diam, id suscipit mauris. Nulla non nulla vitae velit tempor scelerisque. Mauris fringilla lobortis urna fermentum tincidunt. Cras facilisis enim dui, non sollicitudin diam dapibus eu. Cras non lorem eu ante consectetur commodo in vel ex. Vestibulum condimentum consequat lacus sed viverra. Integer malesuada semper eros elementum maximus.
    </p>
            </div>
        <div class="d-none d-md-block col-md-6">
        <img src="static/images/people.jpg"
             style="height:320px; border-radius:4px;">
        </div>
        </div>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <p>
       {% for job in jobs %}
            {% include 'jobitem.html' %}
       {% endfor %}

    </p>
    <p class="bodytext"> TODO - Show the jobs here </p>
        <div class="text-center">
        <button id="contactbutton" class="btn btn-primary btn-lg">Contact us</button>
            <p>Copyright 2022, Jovian</p>
            </div>
        </div>
    {% include 'footer.html' %}
    </body>
</html>