<div class="text-center mt-4 mb-4">
<h4>Post Job Form</h4>
<form action="/post_job/submitted" method="post">
<div class="mb-2">
<label>Title</label><br>
<input class="form-control-sm" type="text" name="title" size="40" placeholder="Data scientist">
</div>


<div class="mb-2">
<label>Locaion</label><br>
<input class="form-control-sm" type="text" name="location" size="40" placeholder="Bruce@Wayne.com">
</div>

<div class="mb-2">
<label>Salary in $</label><br>
<input class="form-control-sm" type="text" name="salary" size="40" placeholder="2000$">
</div>


<div class="mb-2">
<label>Responsibilities</label><br>
<textarea class="form-control-sm" cols="43" name="responsibilities"></textarea>
</div>


<div class="mb-2">
<label>Requirements</label><br>
<textarea class="form-control-sm" cols="43" name="requirements"></textarea>
</div>


<button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>
  </div>

