<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "bootstrap.html" %}
{% include "nav.html" %}
{% include "banner.html" %}
<h1 class="text-center mt-2 mb-4">Jobs you posted</h1>
<div class="text-center mt-4 mb-4">
<a href="/profile" type="button"
           class="btn btn-secondary btn-lg">See applied jobs</a>
    </div>>
{% if data %}
{% for job in data %}
{% include 'posted_jobs.html' %}
{% endfor %}
{% else %}
<h1>Here will be displayed jobs that you post</h1>
{% endif %}
{% include 'footer.html' %}
</body>
</html>